<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .register, .members, .change {
            display: flex;
            flex-direction: column;
            max-width: 400px;
        }

        input, button, p {
            margin: 6px;
        }

        td {
            border: 1px solid black;
            padding: 6px;
        }
    </style>
  </head>

  <body>
    <div id="app">
        <div class="register">
            <h1>Register</h1>
            <input type="text" v-model="registerName" placeholder="Name" />
            <input type="text" v-model="registerAddress" placeholder="Address" />
            <input type="text" v-model="registerPhone" placeholder="Phone Number" />
            <button v-on:click="register">Register</button>
            <p v-if="registerSuccess">Success</p>
        </div>
        <div class="members">
            <h1>Members</h1>
            <memberstable :members="memberList">tes</memberstable>
        </div>
        <div class="profile">
            <h1>Profile</h1>
            <div class="profileInfo">
                <p>{{ "Name     : " + this.profile["name"] }}</p>
                <p>{{ "Address  : " + this.profile["address"] }}</p>
                <p>{{ "Phone    : " + this.profile["no_hp"] }}</p>
            </div>
        </div>
        <div class="change">
            <h1>Update</h1>
            <input type="text" v-model="changeName" placeholder="Name" />
            <input type="text" v-model="changeAddress" placeholder="Address" />
            <input type="text" v-model="changePhone" placeholder="Phone Number" />
            <button v-on:click="change">Change</button>
            <p v-if="changeSuccess">Success</p>
        </div>
        <div class="upload">
            <h1>Upload</h1>
            <input type="file" v-on:change="upload"/>
            <p v-if="uploadSuccess">Success</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/template" id="memberTable">
        <table>
            <tr>
                <td>No.</td>
                <td>Name</td>
                <td>Address</td>
                <td>Phone Number</td>
                <td>Remove</td>
            </tr>
            <tr v-for="(member, index) in members">
                <td>{{ index + 1 }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.no_hp }}</td>
                <td>
                    <button v-on:click="remove(member.id)">Remove</button>
                </td>
            </tr>
        </table>
    </script>
    <script>
        Vue.component('memberstable', {
            template: '#memberTable',
            data() {
                return {
                    constUrl: 'http://demo-api-vue.sanbercloud.com/api/member',
                }
            },
            props: ["members"],
            methods: {
                remove: function(memberId) {
                    const config = {
                        method: "post",
                        url: this.constUrl + '/' + memberId + '?_method=DELETE',
                    };
                    axios(config)
                        .then((response) => {
                            console.log(response.data);
                            vm.getMembers();
                        })
                        .catch((error) => {
                            console.log("failed");
                        });
            },
            }
        });

      var vm = new Vue({
        el: "#app",
        data: function () {
            return {
            registerName: '',
            registerAddress: '',
            registerPhone: '',
            changeName: '',
            changeAddress: '',
            changePhone: '',
            registerSuccess: false,
            changeSuccess: false,
            uploadSuccess: false,
            memberList: [],
            uploadFile: '',
            profile: {
                "name": "-",
                "address": "-",
                "no_hp": "-",
            },
            constUrl: 'http://demo-api-vue.sanbercloud.com/api/member',
        }
        },
        computed: {
        },
        methods: {
            getMembers: function() {
                const config = {
                    method: "get",
                    url: this.constUrl,
                };
                
                axios(config)
                    .then((response) => {
                        console.log(response.data.members);
                        this.memberList = response.data.members;
                    })
                    .catch((error) => {
                        console.log("failed");
                    });
            },
            getProfile: function() {
                const config = {
                    method: "get",
                    url: this.constUrl + '/913',
                };
                
                axios(config)
                    .then((response) => {
                        console.log(response.data.member);
                        console.log('test');
                        this.profile = response.data.member;
                    })
                    .catch((error) => {
                        console.log("failed");
                    });
            },
            change: function() {
                let formData = new FormData();
                formData.append('name', this.changeName);
                formData.append('address', this.changeAddress);
                formData.append('no_hp', this.changePhone);

                const config = {
                    method: "post",
                    url: this.constUrl + '/913?_method=PUT',
                    data: formData,
                };
                axios(config)
                    .then((response) => {
                        console.log(response.data);
                        this.changeSuccess = true;
                        this.getMembers();
                    })
                    .catch((error) => {
                        console.log("failed");
                    });
            },
            register: function() {
                let formData = new FormData();
                formData.append('name', this.registerName);
                formData.append('address', this.registerAddress);
                formData.append('no_hp', this.registerPhone);

                const config = {
                    method: "post",
                    url: this.constUrl,
                    data: formData,
                };
                
                axios(config)
                    .then((response) => {
                        console.log(response.data);
                        this.registerSuccess = true;
                        this.getMembers();
                    })
                    .catch((error) => {
                        console.log("failed");
                    });
            },
            upload: function() {
                let formData = new FormData();
                formData.append('photo_profile', this.$refs.file);

                const config = {
                    method: "post",
                    url: this.constUrl + '/913/upload-photo-profile',
                    data: formData,
                };
                
                axios(config)
                    .then((response) => {
                        console.log(response.data);
                        this.registerSuccess = true;
                        this.getMembers();
                    })
                    .catch((error) => {
                        console.log("failed");
                    });
            },
        },
        created(){
                this.getMembers();
                this.getProfile();
            }
      });
    </script>
  </body>
</html>
