<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <input v-if="!isUpdating" type="text" v-model="newUser" placeholder="New User" v-on:keyup.enter="addUser"/>
        <input v-else type="text" v-model="editUserName" placeholder="Edit User" v-on:keyup.enter="editUser"/>
        <button v-if="!isUpdating" v-on:click="addUser">Add</button>
        <button v-else v-on:click="editUser()">Edit</button>
        <table>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr class="userList" v-for="(user, index) in users">
                <td>{{ index + 1 }}</td>
                <td>{{ user['name'] }}</td>
                <td><button v-on:click="edit(index)">Edit</button></td>
                <td><button v-on:click="pop(index)">Delete</button></td>
            </tr>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
            users: [
                {
                    'name': 'Muhammad Iqbal Mubarok',
                },
                {
                    'name': 'Ruby Purwanti',
                },
                {
                    'name': 'Faqih Muhammad',
                },
            ],
            newUser: '',
            isUpdating: false,
            editUserName: '',
            editUserIndex: 0,
        },
        computed: {},
        methods: {
            addUser: function() {
                if (this.newUser != '') {
                    this.users.push({
                        'name': this.newUser,
                    });
                    this.newUser = '';
                    this.isUpdating = false;
                }
            },
            editUser: function() {
                if (this.editUserName != '') {
                    this.users[this.editUserIndex]['name'] = this.editUserName;
                    this.isUpdating = false;
                }
            },
            edit: function(index) {
                this.editUserName = this.users[index]['name'];
                this.isUpdating = true;
                this.editUserIndex = index;
            },
            pop: function(index) {
                this.users.splice(index, 1);
            }
        },
      });
    </script>
  </body>
</html>
