<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .register, .members, .change {
            display: flex;
            flex-direction: column;
            max-width: 400px;
        }

        input, button, p {
            margin: 6px;
        }

        td {
            border: 1px solid black;
            padding: 6px;
        }
    </style>
  </head>

  <body>
    <div id="app">
        <!-- Pengganti tag <a href=""></a>  -->
    <router-link to="/">Home</router-link>
    <router-link v-if='isLoggedIn' to="/profile">Profile</router-link>
    <router-link v-if='isAdmin' to="/admin">Admin</router-link>

    <!-- Untuk Menampilkan component secara dinamis , sesuai dengan route yang diakses -->
    <router-view></router-view>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="text/template" id="loginForm">
      <div v-if="!isLogin">
        <input type="text" v-model="loginName" placeholder="Name" />
        <input type="text" v-model="loginPassword" placeholder="Password" />
        <button v-on:click="login(loginName, loginPassword)">Login</button>
      </div>
      <div v-else>Logged in</div>
    </script>
    <script>
        const Home = { template: '<Dashboard></Dashboard>' };
        const Profile = { template: '<div>ProfilePage</div>' };
        const Admin = { template: '<div>AdminPage</div>' };

        const routes = [
          { path: '/', component: Home , alias: '/home'},
          { path: '/profile', component: Profile },
          { path: '/admin', component: Admin },
        ];

        const router = new VueRouter({
          routes 
        });

        

        Vue.component('Dashboard', {
          template: '#loginForm',
          data() {
            return {
              loginName: '',
              loginPassword: '',
              isLogin: false,
            }
          },
          props: ["name"],
          methods: {
            login: function(loginName, loginPassword) {
              if (loginPassword == '123456') {
                vm.isLoggedIn = true;
                this.isLogin = true;
                if (loginName == 'admin') {
                  vm.isAdmin = true;
                } else {
                  vm.isAdmin = false;
                }
              }
            }
          }
        })

      var vm = new Vue({
        el: "#app",
        router,
        data: {
            isAdmin: false,
            isLoggedIn: false,
            username: '',
        },
        computed: {
        },
        methods: {
        },
        created(){
      }
      });
    </script>
  </body>
</html>
