<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
        <input type="text" v-model="searchQuery" placeholder="Search" />
        <ul>
            <li v-for="book in filteredBooks" :key="book">
                {{ book }}
            </li>
            <input type="text" v-model="bookName" placeholder="New Book" v-on:keyup.enter="addBook"/>
            <button v-on:click="addBook">Add</button>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
            books: [
              'Kalkulus Dasar',
              'Fisika Dasar',
              'Aljabar Linier Elementer',
              'Aljabar Abstrak',
              'Algoritma Pemrograman',
            ],
            searchQuery: '',
            bookName: '',
        },
        computed: {
          filteredBooks: function() {
              if (this.searchQuery != '') {
                  console.log(this.books);
                  return this.books.filter((book) => {
                      return book.toLowerCase().includes(this.searchQuery.toLowerCase());
                  });
              } else {
                  return this.books;
              }
          },
        },
        methods: {
            addBook: function() {
                if (this.bookName != '') {
                    this.books.push(this.bookName);
                    this.bookName = '';
                }
            }
        },
      });
    </script>
  </body>
</html>
