<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn small text to="/blogs" class="blue--text">
      All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      url: 'http://demo-api-vue.sanbercloud.com',
      blogs: [],
    }),
    created() {
      const config = {
        method: 'get',
        url: this.url + '/api/v2/blog/random/3',
      }
      this.axios(config)
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs;
        })
        .catch(e => {
          console.log(e);
        });
    }
  };
</script>
